**/xcuserdata/
**/*.xcuserdatad/
**/*.xcuserstate

**/build/
DerivedData/

.build/
.swiftpm/

*.xcarchive

*.ipa


.DS_Store

Pods/

Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

.env
.env.*
!.env.example
*.html
*.txt